/* ------------------------------------------------------------
--------------------CSS GLOBAL---------------------------------
--------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
}


/* Centrer le contenu du footer en utilisant l'attribut flex*/
.center{
    display: flex;
    justify-content: center;
}

/* -----------------------------------------------------------------------------------------------
---------------------MOBILE VERSION, MAX-WIDTH 599PX DONC DE 0 à 599PX----------------------------
-------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 599px) {
footer{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 40px 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
}
main {
    background-color: rgb(255, 255, 255);
    padding: 20px 0;
}

/* les blocs articles sont disposés en plusieurs lignes en utilisant l'attribut flex-wrap */
.sectionContainer {
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

/* Les balises <a> contenues dans les blocs div sont disposés en fonction du mouvement du conteur */
.sectionContainer div {
    flex-wrap: wrap;
    background-color: rgb(247, 247, 247);
    width: 30%;
    padding: 20px;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

/* Le contenu des articles sont en flex afin de les centrer*/
.articleContainer {
    background-color: rgb(247, 247, 247);
    width: 50%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 70px;
    margin: 20px auto;
}

a {
    background-color: rgb(175, 76, 15);
    list-style-type: none;
    color: white;
    padding: 10px 30px;
    border-radius: 15px;
    text-decoration: none;
}

h2{
    display: flex;
    align-items: center;
}
p{
    display:none;
}

img {
    display: none;
}
}


/* -----------------------------------------------------------------------------------------------
-----------TABLET VERSION, MIN-WIDTH DE 600PX MAX WIDTH 1023 PX DONC DE 600 à 1023px--------------
-------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 600px) and (max-width:1023px) {
footer{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 40px 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
main{
    background-color: rgb(217, 217, 217);
    padding: 20px 0;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
}

/* La propriété Gap permet de créer un espacement */
.sectionContainer {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

/* Les bloc Article est défini avec une position relative afin de positionner les balises <a> */
.articleContainer{
    background-color: rgb(247, 247, 247);
    width: 15%;
    border-radius: 15px;
    padding: 20px 20px 20px 40px;
    margin: 20px auto;
    border: solid rgb(34, 34, 34);
    position: relative;
}

/* Les balises <a> ont une position absolue afin de les positionner en fonction du conteneur ayant une position absolue */
a {
    background-color: rgb(34, 34, 34);
    border-radius: 15px;
    padding: 10px;
    position:absolute;
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    text-decoration: none;
    color: white;
}
/* le display none nous permet de faire disparaitre l'image dans notre box sur la version mobile et tablette */
img {
    display: none;
}

}

/* -----------------------------------------------------------------------------------------------
---------------------DESKTOP VERSION, MIN-WIDTH 1024PX DONC à PARTIR DE 1024PX----------------------------
-------------------------------------------------------------------------------------------------- */


@media screen and (min-width: 1024px) {
header {
    background-color: rgb(0, 0, 0);
    color: rgb(186, 52, 52);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(186, 52, 52);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
}

main{
    background-color: rgb(255, 255, 255);
    padding: 20px 0;
}

footer{
    background-color: rgb(0, 0, 0);
    color: rgb(186, 52, 52);
    padding: 40px 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: rgb(186, 52, 52);
}

/* La propriété Gap permet de créer un espacement */
.sectionContainer {
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

/* Les bloc Article est défini avec une position relative afin de positionner les balises <a> */
.articleContainer{
    background-color: rgb(255, 255, 255);
    width: 15%;
    border-radius: 15px;
    padding: 20px 20px 20px 40px;
    margin: 20px auto;
    border: solid rgb(34, 34, 34);
    position: relative;
}

/* Les balises <a> ont une position absolue afin de les positionner en fonction du conteneur ayant une position absolue */
a {
    background-color: rgb(34, 34, 34);
    border-radius: 15px;
    padding: 10px 35px;
    position:absolute;
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
}

.divImgContainer {
    width : 80%;
    display: flex;
    align-items: center;
}

}